*{
  margin:0;
  padding :0;
  box-sizing: border-box;
  outline:none;
}

html{
  font-size:14px;
}

body{
  font-family:sans-serif;
  color:black;
  background-color: rgb(195,226,227);
}

.bookstore{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookstore-title{
  font-size:1.5rem;
  margin:1rem auto;
}

.books{
  display:grid;
  align-items: center;
}

.book{
  padding:1rem;
  background-color:white;
  margin:1rem;
  text-align:center;
  border-radius: 10px;
  box-shadow: 0 0 6px black(00,0,0,0.25);
}